@import url('https:/fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

:root {
    --orange: #ff7800;
    --black: #130f40;
    --lightin-color: #666;
    --border-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: 2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
}


html {

    font-size: 62, 5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

#logo {
    width: 150px;
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    text-align: center;
}

.header .icons div:hover {
    background: var(--orange);
    color: #fff;
}

#menu-btn {
    display: none;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 10%, rgba(194, 152, 254, 1) 50%, rgba(8, 1, 124, 1) 90%);
}






@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 100;
  padding: 1rem;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: 100%;
  width: 100%;
  padding: 200px 0;
  background: #ddd;
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 15rem;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}

.about .img1{
    border-radius: 5rem;
    width: 380px;
    
}

.about .img{
    border-radius: 5rem;
    width: 390px;
}

.advertising .box-container .box {
    padding: 3rem 2rem;
    background: url(image/backgroun/pxfuel.jpg);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}




.footer {
    background: #fff;
    padding-bottom: 1.5rem;
    margin-left: -5rem;
    margin-right: -5rem;
}


.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    margin-top: 10rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color: var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--lighting-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i{
    padding-right: 2rem;
}

.footer .box-container .box .links:hover i{
    color: var(--orange);
    padding-right: .5rem;   
}

.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--lighting-color);
    padding: 1rem 0;
}

.footer .box-container .box2{
    margin: -6rem;
}

.footer .box-container .box2 a{
    font-size: 1.5rem;
    margin-bottom: 15rem;
    padding-bottom: -15rem;
    text-align: center;
    margin-top: 5rem;
    margin-left: 3rem;
}

.footer .box-container .box2 a{
    font-size: 1rem;
    margin-bottom: 15rem;
    padding-bottom: -15rem;
}













  /*media queries*/
@media (max-width: 999px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {

    #menu-btn {
        display: inline-block;
    }


    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--border-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar .active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;

    }
}


@media (max-width: 450px) {
    html {
        font-size: 45%;
    }

    .heading {
        font-size: 2.5rem;

    }
}











